<!DOCTYPE html>
<html lang="en">
<div>
    <meta charset="UTF-8" />  
    <link rel="stylesheet" href="../static/style.css" />
  
    <header class="header">
        <a href="#" class="logo"
          ><img src="../static/images/ml.png" class="echa_logo"
        /></a>
        <nav class="nav-items">
          <div class="down">
            <a href="/about">About Us </a>
            <a href="/preAssessment">Pre-Assessment</a>
            <div class="dropdown">
              <button class="dropbtn">Dropdown_1</button>
              <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
              </div>
            </div>
            <div class="dropdown">
              <button class="dropbtn">Dropdown_2</button>
              <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
              </div>
            </div>
            <a href="./contact">Contact</a>
          </div>
  
          <!-- ExpleoLogo -->
          <img src="../static/images/expleo.png" class="img" />
        </nav>
      </header>
</div>
  </body>

  <form action="#">
    <button
      style="margin-left: 90%;"
      class="dbutton"
      type="submit"
      formaction="back"
      text-align="center"
    >
      Back
    </button>
  </form>

  <div>{{data_head|safe}}</div>
</html>
